*{
font-family:cursive;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
background-color: #0f0f0f;
}
@media (max-width:420px){
body{
font-family: cursive;
font-weight: 400;
}
}
@media (max-width:420px){
.total{
.total{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
}
}
.total{
display: flex;
flex-direction: column;
justify-content: center;
}
.titulo{
background-image: url(https://img.freepik.com/vector-gratis/fondo-banner-semitono-rojo-negro_1035-17987.jpg);
background-repeat: cover;
color:rgb(214, 204, 204);
border-style: solid;
border-color: rgb(0, 0, 0);
border-radius: 10px;
border-width: 0.4rem;
text-align: center;
text-transform: uppercase;
box-shadow: 0 0.2em 2em rgba(255, 0, 0, 0.685);
padding: 10px 0.5em 1.5em 0.5em;
font-size: clamp(1.4rem, 1.4vw, 2rem);
}
.barra{
display:flex;
flex-direction: row;
justify-content: space-between;
max-width: 100%;
margin: 0 auto;
}
@media (max-width:420px){
.barra{
display:flex;
flex-direction: column;
justify-content: space-around;
max-width: 50%;
margin: 0 auto;
}
}
.barra a{
background-color: rgb(107, 22, 22);
border-style: solid;
border-radius: 25px;
border-color:black;
border-width: 5px;
text-align: center;
box-sizing: border-box;
padding: 30px 10px 30px 10px;
margin: 15px;
text-decoration: none;
color: #dab4b4;
width: 100%;
box-shadow: 0 0.2em 1.5em rgba(255, 0, 0, 0.685);
}
.barra a:hover {
text-decoration: none; 
background-color: rgb(187, 16, 16);
}
.catalogo h3{
color:rgb(187, 74, 74);
text-align: center;
text-transform: uppercase;
text-decoration: underline;
font-size: 2em;
}
.pj_1, .pj_2{
margin: 2rem;
}
.pj_1 a, .pj_2 a{
margin:1.5rem;
text-decoration: none;
color:rgb(187, 74, 74);
text-transform: uppercase;
text-align: center;
}
.pj_1 a:hover, .pj_2 a:hover{
box-shadow: 0 0.4em 1.5em rgba(255, 0, 0, 0.685);
border-radius: 20px;
background-color: #41101036;
}
.pj_1, .pj_2{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.pj_1 img , .pj_2 img{
border-radius: 20px;
}
.descripcion{
color:rgb(187, 74, 74);
background-color: #41101036;
display: flex;
flex-direction: column;
text-transform: capitalize;
box-shadow: 0 0.4em 1.5em rgba(255, 0, 0, 0.685);
padding: clamp(0.8rem, 1.9vw, 1.9rem);
width: 100%;
margin: 3.5rem;
margin-top: 1rem;
max-width: 90%;
height: 50%;
min-height: 200px;
border-radius: 15px;
}
.descripcion h3{
margin:1em;
padding: 0.6em;
border-style: solid;
border-radius: 20px;
border-width: 3px;
border-color: #520d0d ;
text-align: center;
text-transform: uppercase;
font-size: clamp(1.2rem, 1.3vw, 1.7rem);
background-color:rgb(92, 14, 14);
}
.descripcion a{
background-color: rgb(122, 9, 32);
text-decoration: none;
border-color: #520d0d;
color: #9c8282;
text-transform: uppercase;
padding: 0.8em 0.5em 0.8em 0.5em;
margin-top: 1em;
border-style: solid;
border-radius: 12px;
display: flex;
flex-direction: row;
justify-content: center;
}
.descripcion a:hover{
background-color: rgb(153, 22, 22);
border-color: #520d0d;
color: black;
}
.links{
text-align: center;
}
@media (max-width:420px){
.descripcion{
display:flex;
flex-direction: column;
justify-content: space-around;
max-width: 80%;
margin: 0 auto;
}
.descripcion a{
display: flex;
flex-direction: column;
}
div.img_chris, div.img_jill, div.img_leon, div.img_claire, div.img_hunk, div.img_ada, div.img_ethan{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}
.descripcion div{
background-color: #41101036;
width: 100%;
border-style: solid;
border-radius: 10px;
border-width: 2px;
padding: 0.7em;

margin-top: 1em;
margin-left: 0.5em;
margin-right: 0.5em;
gap: 1em;
}
.img_chris, .img_jill, .img_leon, .img_claire, .img_hunk, .img_ada, .img_ethan{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.img_chris img, .img_jill img, .img_leon img, .img_claire img, .img_hunk img, .img_ada img, .img_ethan img{
width: 49%;
border-radius: 20px;
}
